@import '../../styles/vars';
@import '../../styles/mixins';

.person {
  &__photo {
    margin-right: 17px;
    width: 50%;
  }

  &__info * {
    @media (max-width: $m-xs-max) {
      font-size: 12px;
    }
  }

  &__content {
    width: 40%;
    * {
      @include nullMargins;
    }
  }
}